html, body {
    margin:0;
}

@media only screen  and (min-width : 1000px) {
    #container {
        position:relative;
        z-index:1; 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "header header header"
                             "cont cont cont"
                             "cont cont cont"
                             "footer footer footer";
        height: 100vh;
    }

    header {
        grid-area: header;
        grid-template-columns: 1/ span 3;
        display: inline-grid;
        width:100%;
        height: 100px;
        position:sticky;
        top:0;
        background: rgba(250, 250, 250, 0.0);
        transition: 1s;
        }
/*
    header:hover {
       transition: 0.7s;
        background: rgba(0,0,0,0.5);
   }
*/
    
    #headerContent {
        grid-column: 1/ span 3;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        justify-content: space-around;
    }

    #logo {
        grid-column-start: 1;
        grid-column-end: 1-end;
        justify-content:flex-end;
        
    }

    #logo img {
        padding: 1em;
        margin-left: 20px;
    }
    
    .menu {
        grid-column: 2/ span 2;
        display:grid;
        grid-template-columns: 1fr;
        align-content: center;
        
    }
    
    .page_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: white;
        font-family:  'Poiret One', cursive;
        font-size:1.125em;
    }
    
    .page_links a:link,
    .page_links a:visited,
    .page_links a:active {
        color:white;
        text-decoration: none;
    }
    
    .page_links a:hover {
        color:aqua;
        text-decoration: none;
        transition: ease-in 0.2s;
        text-shadow: 1px 1px 20px darkgray;
        font-weight: bold;
    }
      
    .page_links a.current {
        color:aqua;
        text-decoration: none;
        text-shadow: 2px 2px 20px white;
        font-weight: bold;
    }
    
    .dropdown {
        display:none;
    }
    
    main {
        grid-area:cont;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        padding: 1em;
    }
    
    .main-content h1 {
        font-size: 10em;
        //color: rgba(250, 250, 250, 0.1);
        color: rgba(250, 250, 250, 0.9);
        font-family:  'Poiret One', cursive;
        //text-shadow: 2px 2px black;
        margin: 0;
        padding-top: .2em;
        grid-row-start:1;
    }
    
    .main-content .caption{
        font-family:  'Poiret One', cursive; 
        text-align: center;
        font-size:1em;
        padding: 1.5em;
    }
    
    .main-content .caption p {
        //color: white;
        color: rgba(250, 250, 250, 0.3);
        font-family:  'Poiret One', cursive; 
        text-align: center;
        font-size:1.2em;
    }
    
    
    .main-content h2 {
        font-size: 1.5em;
        color: white;
        font-family:  'Poiret One', cursive;   
    }
    
    .main-content h2 a {
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
        border: 2px white solid;
    }
    
    .main-content h2 a:link,
    .main-content h2 a:visited,
    .main-content h2 a:active {
        color:white;
        text-decoration: none;
    }
    
    .main-content h2 a:hover {
        color:aqua;
        text-decoration: none;
        border: 3px aqua solid;
        transition: 0.5s;
        text-shadow: 1px 1px 20px darkgray;
        box-shadow: 1px 1px 20px darkgray;
    }
                    
    footer {
        grid-area: footer;
        bottom:0;
        text-align: left;
        color: white;
        font-family:  'Poiret One', cursive;
        padding-left: 2em;
        padding-bottom: 2em;
    }
}

@media only screen and (min-width : 665px) and (max-width : 999px){
    #container {
        position:relative;
        z-index:1; 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "header header header"
                             "cont cont cont"
                             "cont cont cont"
                             "footer footer footer";
        height: 100vh;
    }

    header {
        grid-area: header;
        grid-template-columns: 1/ span 3;
        display: inline-grid;
        width:100%;
        height: 100px;
        position:sticky;
        top:0;
        background: rgba(250, 250, 250, 0.0);
        transition: 1s;
        }
/*
    header:hover {
       transition: 0.7s;
        background: rgba(0,0,0,0.5);
   }
*/
    
    #headerContent {
        grid-column: 1/ span 3;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        justify-content: space-around;
    }

    #logo {
        grid-column-start: 1;
        grid-column-end: 1-end;
        justify-content:flex-end;
        
    }

    #logo img {
        padding: 1em;
        margin-left: 20px;
    }
    
    .menu {
        grid-column: 2/ span 2;
        display:grid;
        grid-template-columns: 1fr;
        align-content: center;
        
    }
    
    .page_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: white;
        font-family:  'Poiret One', cursive;
        font-size:1.125em;
    }
    
    .page_links a:link,
    .page_links a:visited,
    .page_links a:active {
        color:white;
        text-decoration: none;
    }
    
    .page_links a:hover {
        color:aqua;
        text-decoration: none;
        transition: ease-in 0.2s;
        text-shadow: 1px 1px 20px darkgray;
        font-weight: bold;
    }
      
    .page_links a.current {
        color:aqua;
        text-decoration: none;
        text-shadow: 2px 2px 20px white;
        font-weight: bold;
    }
    
    .dropdown {
        display:none;
    }
    
    main {
        grid-area:cont;
        grid-template-columns: 3;
        grid-template-rows: 3;
        display: grid;
        grid-template-columns: .5fr 2fr .5fr;
        grid-template-rows: 3fr .5fr .5fr;
    }
    
    .main-content {
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    
    .main-content h1 {
        font-size: 10em;
        //color: rgba(250, 250, 250, 0.1);
        color: rgba(250, 250, 250, 0.9);
        font-family:  'Poiret One', cursive;
        //text-shadow: 2px 2px black;
        margin: 0;
        padding-top: .2em;
        grid-row-start:1;
    }
    
    .main-content .caption{
        grid-column-start: 2;
        grid-row-start: 2;
        font-family:  'Poiret One', cursive; 
        text-align: center;
        font-size:1em;
        padding: 1.5em;
    }
    
    .main-content .caption p {
        grid-column-start: 2;
        grid-row-start: 2;
        //color: white;
        color: rgba(250, 250, 250, 0.3);
        font-family:  'Poiret One', cursive; 
        text-align: center;
        font-size:1.2em;
    }
    
    
    .main-content h2 {
        grid-row-start: 3;
        font-size: 1.5em;
        color: white;
        font-family:  'Poiret One', cursive;   
    }
    
    .main-content h2 a {
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
        border: 2px white solid;
    }
    
    .main-content h2 a:link,
    .main-content h2 a:visited,
    .main-content h2 a:active {
        color:white;
        text-decoration: none;
    }
    
    .main-content h2 a:hover {
        color:aqua;
        text-decoration: none;
        border: 3px aqua solid;
        transition: 0.5s;
        text-shadow: 1px 1px 20px darkgray;
        box-shadow: 1px 1px 20px darkgray;
    }
                    
    footer {
        grid-area: footer;
        bottom:0;
        text-align: center;
        color: white;
        font-family:  'Poiret One', cursive;
        //padding-right: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:665px) {
    
       
#container {
    position: relative;
    margin-left:auto;
    margin-right: auto;
    font-size: 16px;
    z-index:1; 
    display: grid;
    grid-template-areas:
                        "h"
                        "h"
                        "l"
                        "l"
                        "l"
                        "f"
                        "f";
                        }


header {
    grid-area: h;
    grid-column-start:1;
    grid-column-end: 1-end;
    grid-row-start:1;
    grid-row-end: 1;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}
    
#headerContent {
        display:none;
    }
    
#mobilelogo {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    justify-content: center;
    background:transparent;
    padding: 1em;
    }
    
#mobilelogo a img   {
    grid-column-start: 1;
    width: 40px;
    align-self: center;
    padding: .5em;
    
    }
    
#mobilelogo a:hover{
    background-color: transparent;    
    }  

.dropbtn {
    grid-column-start: 3;
    background:transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin:0;
    //grid-column: 1/ span 12;
}

.dropbtn:hover, .dropbtn:active {
    background:rgba(0,0,0, 0.8);
    outline: none;
}

.dropdown {
    grid-column: 1/ span 12;
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0, 0.7);
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: white;
    padding: 1em;
    text-decoration: none;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.dropdown a:hover {
    background-color: rgba(97, 137, 47, 0.7);
    //padding: 1em;
    }

.show {
    display: block;
    height: 100vh;
    }
    
.menu {
    display: none;
}

.menu > div { 
    align-self: center;
}

.menu a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: 	white;
    font-size: 14px;
}
    
    main {
        grid-area:l;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
    }
    
    .main-content {
        grid-column-start: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    
    .main-content h1 {
        font-size: 5em;
        //color: rgba(250, 250, 250, 0.1);
        color: rgba(250, 250, 250, 0.9);
        font-family:  'Poiret One', cursive;
        //text-shadow: 2px 2px black;
        margin: 0;
        padding-top: .2em;
        grid-row-start:1;
    }
    
    .main-content .caption{
        grid-column-start: 2;
        grid-row-start: 2;
        font-family:  'Poiret One', cursive; 
        text-align: center;
        font-size:1em;
        padding: .5em;
    }
    
    .main-content .caption p {
        grid-column-start: 2;
        grid-row-start: 2;
        //color: white;
        color: rgba(250, 250, 250, 0.3);
        font-family:  'Poiret One', cursive; 
        text-align: center;
        font-size:1.2em;
    }
    
    
    .main-content h2 {
        grid-row-start: 3;
        font-size: 1.5em;
        color: white;
        font-family:  'Poiret One', cursive;   
    }
    
    .main-content h2 a {
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
        border: 2px white solid;
    }
    
    .main-content h2 a:link,
    .main-content h2 a:visited,
    .main-content h2 a:active {
        color:white;
        text-decoration: none;
    }
    
    .main-content h2 a:hover {
        color:aqua;
        text-decoration: none;
        border: 3px aqua solid;
        transition: 0.5s;
        text-shadow: 1px 1px 20px darkgray;
        box-shadow: 1px 1px 20px darkgray;
    }
                    
    footer {
        grid-area: f;
        bottom:0;
        text-align: center;
        color: white;
        font-family:  'Poiret One', cursive;
        //padding-right: 20px;
        padding-bottom: 20px;
    }
}
